::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #424242;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #7b7b7b
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b;
  }